---
---

@import "{{ site.theme }}";

$container-max-width: 1050px;

body {
  font-size: 18px;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}


header h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 40px;
}

header h1:before {
  content: "::";
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  color: $conifer;
}

code {
  background: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  font-family: 'JetBrains Mono', monospace;
}

.highlight {
  border-radius: 10px;
}

a {
  text-decoration: none;
}