---
---

@import "{{ site.theme }}";

$container-max-width: 1050px;
$body-background: black;

body {
  font-size: 18px;
  font-family: 'JetBrains Mono', monospace;
  background: $body-background 0 0;
}

.container {
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}


header h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 40px;
}

header h1:before {
  content: "::";
  font-size: 40px;
}

#main_content h1 {
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  color: $conifer;
  margin-top: 50px;
}

code {
  background: rgb(31, 30, 30);  
  border-radius: 5px;
  font-family: 'JetBrains Mono', monospace;
}

.highlight {
  background: rgb(31, 30, 30);
  border-radius: 10px;
}

a {
  text-decoration: none;
}